
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户登录</title>

<link href="{{url_for('static',filename='login/css/main.css')}}" rel="stylesheet" type="text/css" />

</head>
<body>


<div class="login">
    <div class="box png">
        <div class="logo png"></div>
        <div class="input">
            <form action="" method="post"> 
            {{form.hidden_tag()}}
            <div class="log">
                <div class="name">
                    {{form.username.label}}
                    {{form.username(placeholder="请输入用户名", class_="text")}}
                </div>

                <div class="pwd">
                    {{form.password.label}}
                    {{form.password(placeholder="请输入密码", class_="text")}}
                </div>


                <div class="pwd">
                {{form.verification_code.label}}
                {{form.verification_code(placeholder="请输入验证码", class_="text")}}
                    <img src="{{url_for('auth.generate_verification_code')}}" style="width: 120px;
                                height: 30px;
                                position: absolute;
                                right:20px;" onclick="javascript:newgdcode(this,this.src);"alt='看不清点击刷新'>

                    <input type="submit" class="submit" tabindex="4" value="登录">
                    <div class="check"></div>
                </div>


                <div class="tip"></div>
            </div>

            </form>
        </div>
    </div>
    <div class="air-balloon ab-1 png"></div>
    <div class="air-balloon ab-2 png"></div>
    <div class="footer"></div>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        
            <script type="text/javascript">
            alert("{{message}}");</script>
        {% endfor %}
        {% endif %}
    {% endwith %}



<script type="text/javascript" src="{{url_for('static',filename='login/js/jQuery.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='login/js/fun.base.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='login/js/script.js')}}"></script>


<!--[if IE 6]>
<script src="js/DD_belatedPNG.js" type="text/javascript"></script>
<script>DD_belatedPNG.fix('.png')</script>
<![endif]-->

<script language="javascript"> 
function newgdcode(obj,url) { 
obj.src = url+ '?nowtime=' + new Date().getTime(); 
//后面传递一个随机参数，否则在IE7和火狐下，不刷新图片 
} 
</script> 

</body>
</html>