{% extends "admin/bases.html" %}
{% block title %}管理员主页{% endblock %}
{% block body %}



{%include 'admin/top.html'%}
  
  <!-- 左侧内容 -->
  <div class="layui-side layui-bg-black">

 
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">快捷链接</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">列表一</a></dd>
            <dd><a href="javascript:;">列表二</a></dd>
            <dd><a href="javascript:;">列表三</a></dd>
            <dd><a href="">超链接</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">解决方案</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">列表一</a></dd>
            <dd><a href="javascript:;">列表二</a></dd>
            <dd><a href="">超链接</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item"><a href="">云市场</a></li>
        <li class="layui-nav-item"><a href="">发布商品</a></li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="alert alert-success">
    {% for category, message in messages %}
      <p>{{message}}</p>
    {%endfor%}
    </div>
    {% endif %}
    {% endwith %}
    

    <h1>当前在线人数：<span id='online_count'>{{online_count}}</span> 人。</h1>
    <h1>系统状态: <br>
    <h2>CPU：{{psutil.cpu_count(logical=False)}}核心/{{psutil.cpu_count()}}线程/已使用<span id='use_cpu'>{{psutil.cpu_percent()}}</span>%</h2>
    <h2>内存：总共{{mem.total//1024//1024}}MB，已用:{{use_mem}}MB</h2>
    <h2>磁盘：total:{{disk.total//1000//1000//1000}}GB/
    used:{{disk.used//1000//1000//1000}}GB/
    free:{{disk.free//1000//1000//1000}}GB
    <!-- mac按照1000比例计算 -->
    </h2>

    </h1>


    </div>
  </div>
  
  {%include 'admin/footer.html'%}
  <script src="{{url_for('static',filename='404/js/jquery-1.7.2.min.js')}}"></script>


<script>
    var source = new EventSource("{{ url_for('sse.stream',channel='admin') }}");
source.addEventListener('online', function(event) {
  var data = JSON.parse(event.data);
  online_count = document.getElementById('online_count').innerHTML;
    document.getElementById('online_count').innerHTML = data.count;
}, false);

source.addEventListener('cpu_use', function(event) {

  var data = JSON.parse(event.data);
  document.getElementById('use_cpu').innerHTML = data.cpu_use;
}, false);
  </script>



{% endblock %}



