{% extends "admin/bases.html" %}
{% block title %}管理员主页{% endblock %}
{% block body %}



{%include 'admin/top.html'%}
  
  <!-- 左侧内容 -->
  <div class="layui-side layui-bg-black">

 
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">快捷链接</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">列表一</a></dd>
            <dd><a href="javascript:;">列表二</a></dd>
            <dd><a href="javascript:;">列表三</a></dd>
            <dd><a href="">超链接</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">解决方案</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">列表一</a></dd>
            <dd><a href="javascript:;">列表二</a></dd>
            <dd><a href="">超链接</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item"><a href="">云市场</a></li>
        <li class="layui-nav-item"><a href="">发布商品</a></li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">

      {%include 'admin/message.html'%} 


<div class="layui-row layui-col-space15">

  <div class="layui-col-md6">
      <div class="layui-card">
      <div class="layui-card-header layui-bg-blue">每月推荐人数排行</div>
      <div class="layui-card-body" >
        <div id="number_count" style="height:300px;">number_count</div>
      </div>
    </div>
    </div>

    <div class="layui-col-md6">
      <div class="layui-card">
        <div class="layui-card-header layui-bg-red">每月总投资金额数排行</div>
        <div class="layui-card-body">
          <div id="price_count" style="height:300px;">price_count</div>
        </div>
      </div>

    </div>

    <div class="layui-col-md6">
      <div class="layui-card">
      <div class="layui-card-header layui-bg-green">会员活跃排行</div>
      <div class="layui-card-body">
         <div id="login_count" style="height:300px;">login_count</div>
      </div>
    </div>
    </div>

    <div class="layui-col-md6">
      <div class="layui-card">
        <div class="layui-card-header">卡片面板</div>
        <div class="layui-card-body">
          卡片式面板面板通常用于非白色背景色的主体内<br>
          从而映衬出边框投影
        </div>
      </div>

    </div>


</div>

   
    

    <!-- <h1><span id='online_count'></span> 人。</h1> -->
    <!-- <h1>系统状态: <br> -->
    <!-- <h2>CPU：{{psutil.cpu_count(logical=False)}}核心/{{psutil.cpu_count()}}线程/已使用<span id='use_cpu'></span>%</h2> -->
    <h2>内存：总共{{mem.total//1024//1024}}MB，已用:{{use_mem}}MB</h2>
    <h2>磁盘：total:{{disk.total//1000//1000//1000}}GB/
    used:{{disk.used//1000//1000//1000}}GB/
    free:{{disk.free//1000//1000//1000}}GB
    <!-- mac按照1000比例计算 -->
    </h2>

    </h1>


    </div>
  </div>
  
  {%include 'admin/footer.html'%}
  <script src="{{url_for('static',filename='404/js/jquery-1.7.2.min.js')}}"></script>

<script src="{{ url_for('static', filename='admin/js/echarts.min.js') }}"></script>
<div class="g-view" id="g-view" style="height:50%;">
    
</div>
<script type="text/javascript">
     var number_count = echarts.init(document.getElementById('number_count'));
     var price_count = echarts.init(document.getElementById('price_count'));
     var login_count = echarts.init(document.getElementById('login_count'));
     
     
    number_count.showLoading();
    price_count.showLoading();
    login_count.showLoading();
    //  // 异步加载数据
    $.ajax({
         type: "GET",
         url: '{{url_for("public.home_json",_external=True)}}',
         dataType: "json",
         success: function(datas){
            var data =datas.data;
            option = {
                xAxis: {
                    type: 'category',
                    data: ['张三', '李四', '王五', '赵六', '刘八', '宋九', '黄十']
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    data: [12, 2, 15, 8, 7, 11, 13],
                    type: 'bar',
                    label:{ normal:{show:true, position:'top'} } 
                }]

            };
            number_count.setOption(option);
         }
    });

    $.ajax({
         type: "GET",
         url: '{{url_for("public.home_json",_external=True)}}',
         dataType: "json",
         success: function(datas){
            var data =datas.data;
            option = {
                xAxis: {
                    type: 'category',
                    data: ['张三', '李四', '王五', '赵六', '刘八', '宋九', '黄十']
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    data: [12, 2, 15, 8, 7, 11, 13],
                    type: 'bar',
                    label:{ normal:{show:true, position:'top'} } 
                }]

            };
            price_count.setOption(option);
         }
    });

    $.ajax({
         type: "GET",
         url: '{{url_for("public.home_json",_external=True)}}',
         dataType: "json",
         success: function(datas){
            var data =datas.data;
            option = {
                xAxis: {
                    type: 'category',
                    data: ['张三', '李四', '王五', '赵六', '刘八', '宋九', '黄十']
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    data: [12, 2, 15, 8, 7, 11, 13],
                    type: 'bar',
                    label:{ normal:{show:true, position:'top'} } 
                }]

            };
            login_count.setOption(option);
         }
    });

    number_count.hideLoading(); 
    price_count.hideLoading(); 
    login_count.hideLoading(); 
   
 

</script>




{% endblock %}



